@model IEnumerable<TestEMS.Models.ToDo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType.ActivityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedByEmployeeData.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedByEmployeeData.Name)
                </td>
                <td>
                    <a asp-action="Assign" asp-route-id="@item.ToDoId">Assign</a> |
                    <a asp-action="Edit" asp-route-id="@item.ToDoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ToDoId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ToDoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
